{% extends "modal_layout.twig" %}

{% block body %}
<body class="blank">

    <!-- Wrapper-->
    <div class="wrapper">

        <!-- Main content-->
        <section class="content">
            <div class="container-center animated slideInDown">

                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-unlock"></i>
                    </div>
                    <div class="header-title">
                        <h3>Logowanie</h3>
                        <small>
                            Proszę o podanie e-maila i hasła do konta
                        </small>
                    </div>
                </div>
                
                {{ validation_errors('<div class="panel panel-filled panel-c-danger"><div class="panel-heading">', '</div></div>') | raw}}
                
                {% if session.flashdata.error == TRUE %}
                    <div class="panel panel-filled panel-c-danger"><div class="panel-heading">{{ session.flashdata.error }}</div></div>
                {% endif %}
                
                <div class="panel panel-filled">
                    <div class="panel-body">
                        {{ form_open() }}
                            <div class="form-group">
                                <label class="control-label" for="username">E-mail</label>
                                <input type="text" placeholder="twoj.mail@gmail.com" value="" name="us_email" id="us_email" class="form-control">
                                <span class="help-block small">Twój unikalny e-mail</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Hasło</label>
                                <input type="password" placeholder="******" value="" name="us_pass" id="us_pass" class="form-control">
                                <span class="help-block small">Twoje mocne hasło</span>
                            </div>
                            <div>
                                <input type="submit" name="submit" value="Login" class="btn btn-accent" />
                                <a class="btn btn-default" href="#" disabled>Zapomniałem hasła</a>
                            </div>
                        {{ form_close() }}
                    </div>
                </div>

            </div>
        </section>
        <!-- End main content-->

    </div>
    <!-- End wrapper-->
{% endblock %}