{% extends "base_layout.twig" %}

{% block body %}
    
    <!-- Main content-->
    <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-mail"></i>
                            </div>
                            <div class="header-title">
                                <h3 class="m-b-xs">Edycja powiadomienia mailowego</h3>
                                <small>
                                    Wypełnij pole formularza aby dodać nowy tekst powiadomienia
                                </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-filled">
                            <div class="panel-heading">
                                Formularz dodawania nowego tekstu wiadomości e-mail
                                <span class="help-block">Pola z <code>*</code> są obowiązkowe</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" id="email-create">
                                    <div class="form-group"><label for="me_header" class="col-sm-3 control-label">Temat wiadomości <code>*</code></label>
                                        <div class="col-sm-9"><input type="text" name="me_header" class="form-control" id="me_header" placeholder="Wpisz temat e-maila" value='{{ message.me_header }}'></div>
                                    </div>
                                    <div class="form-group"><label for="me_text" class="col-sm-3 control-label">Tekst powiadomienia <code>*</code></label>
                                        <div class="col-sm-9"><textarea class="form-control vertical" rows="3" placeholder="Wpisz treść wiadomości" id="me_text" name="me_text">{{ message.me_text }}</textarea></div>
                                    </div>
                                    <button disabled="disabled" type="submit" class="btn btn-accent pull-right" id="submit" data-url="{{ base_url('message/create/email') }}"><i class="fa fa-save"></i> Zapisz</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
    
{% endblock %}

{% block jq_scripts %}
    {{ parent() }}
    $('#submit').click(function(e) {
        e.preventDefault();

        var data = $('#email-create').serialize();
        var url = $(this).attr('data-url');

        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                if(data.status == 1) {
                    setTimeout(function(){ // Run toastr notification with success message
                        toastr.options = {
                            "positionClass": "toast-top-right",
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing",
                            "timeOut": "6000"
                        };
                        toastr.success('<strong>Sukces! </strong> <br/><small>' + data.msg + '</small>');
                        },500
                    );
                    
                    $('#submit').prop("disabled", true);
                } else {
                    setTimeout(function(){ // Run toastr notification with failture message
                        toastr.options = {
                            "positionClass": "toast-top-right",
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing",
                            "timeOut": "6000"
                        };
                        toastr.warning('<strong>Błąd! </strong> <br/><small>' + data.msg + '</small>');
                        },500
                    )
                }
            },
            error: function(data){      
                alert('error');
            }

        });
    });
    
    $('#email-create').find('input:text, input:password, input:file, select, textarea').on('change keypress', function() {
        $('#submit').prop("disabled", false);
    });
{% endblock %}